@include ui-mobile-only {
  .heritage {
    @media (max-width: $mobile) {
      padding: 35px 0 0 0;
      overflow: hidden;
      height: 100vh;

      &__image-wrapper {
        width: 100%;
        height: max-content;
        padding-bottom: 0;
      }

      &__swiper {
        height: 80%;
        padding: 0;
      }

      &__image {
        width: 285px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          width: 250px;
          font-size: 12px;
          line-height: 13px;
        }
      }

      &__links {
        font-size: 12px;
        margin-top: auto;
        margin-bottom: 65px;
      }

      .swiper-wrapper {
        align-items: flex-start;
      }

      .swiper-slide {
        height: max-content !important;
      }
    }
  }
}
