.select {
  position: relative;

  &__input {
    border: 2px solid $lightgrey;
    font-size: 16px;
    height: 40px;
    padding: 0 8px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 0;
  }

  &__list {
    margin-top: 10px;
    border: 2px solid $lightgrey;
  }

  &__list-item {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: $lightgrey100;
      transition: 0.3s ease;
    }
  }
}
