// Colors
$white: #fff;
$grey: #c3bdbd;
$lightblue: #a8d4f3;
$greylight: #d8d2d2;
$blue: #3838d8;

// Screens
$fullhd: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-portrait: 600px;
$mobile: 400px;
