@import 'variables';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  width: max-content;
  height: max-content;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
}
