// Stig
@font-face {
  font-family: 'Stig';
  font-display: block;
  src: url('@/assets/fonts/Stig/stig.otf') format('opentype');
  font-weight: normal;
}

// Stig
@font-face {
  font-family: 'ST';
  font-display: block;
  src: url('@/assets/fonts/ST/ST-nizhegorodsky.otf') format('opentype');
  font-weight: normal;
}

// DecimaNova
@font-face {
  font-family: 'DecimaNova';
  font-display: block;
  src: url('@/assets/fonts/DecimaNova/decima-nova-pro-regular.otf') format('opentype');
  font-weight: normal;
}

// Boxed
@font-face {
  font-family: 'BoxedBook';
  font-display: block;
  src: url('@/assets/fonts/Boxed/boxed-book.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Boxed';
  font-display: block;
  src: url('@/assets/fonts/Boxed/boxed-regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BoxedBold';
  font-display: block;
  src: url('@/assets/fonts/Boxed/boxed-regular-bold.otf') format('opentype');
  font-weight: normal;
}
