// Primitive Russian
@font-face {
  font-family: 'PrimitiveRussian';
  src: url('@/assets/fonts/PrimitiveRussian/1350_primitive_russian.otf') format('opentype');
  font-weight: normal;
}

// Artifact Element
@font-face {
  font-family: 'ArtifactElement';
  src: url('@/assets/fonts/ArtifactElement/artifakt_element_regular.ttf') format('truetype');
  font-weight: normal;
}

// Stig
@font-face {
  font-family: 'Stig';
  src: url('@/assets/fonts/Stig/stig.otf') format('opentype');
  font-weight: normal;
}

// Stig
@font-face {
  font-family: 'ST';
  src: url('@/assets/fonts/ST/ST-nizhegorodsky.otf') format('opentype');
  font-weight: normal;
}

// DecimaNova
@font-face {
  font-family: 'DecimaNova';
  src: url('@/assets/fonts/DecimaNova/decima-nova-pro-regular.otf') format('opentype');
  font-weight: normal;
}

// Boxed
@font-face {
  font-family: 'BoxedBook';
  src: url('@/assets/fonts/Boxed/boxed-book.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Boxed';
  src: url('@/assets/fonts/Boxed/boxed-regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'BoxedBold';
  src: url('@/assets/fonts/Boxed/boxed-regular-bold.otf') format('opentype');
  font-weight: normal;
}
