@include ui-desktop-only {
  .sponsors {
    @media (min-width: $desktop) {
      &__item {
        p {
          width: 220px;
        }
      }

      &__narrow {
        width: 200px !important;
      }
    }

    @media (min-width: $fullhd) {
      &__item {
        p {
          width: 405px;
        }
      }

      &__narrow {
        width: 263px !important;
      }
    }
  }
}
