.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 30px 0;
  overflow: hidden;

  &__logo {
    &-gosha {
      width: 150px;
    }

    &-sarmatian,
    &-nice-to-trip {
      width: 170px;
    }

    &-yarbeg,
    &-daleko {
      width: 200px;
    }

    &-hog {
      height: 250px;
    }

    &-ded,
    &-noji,
    &-shulz,
    &-fatrat,
    &-neutrino {
      width: 300px;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    padding: 0 110px 0 160px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 15px;
      text-align: center;
      line-height: 24px;
      font-family: 'BoxedBook', sans-serif;
      color: $white-grey-3;
      width: 405px;
    }
  }

  &__image-wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    img {
      max-width: 100%;
      object-fit: fill;
    }
  }

  &__links {
    text-align: center;
    margin-top: 63px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'BoxedBook', sans-serif;

    span {
      margin: 0 4px;
    }
  }

  &__narrow {
    width: 263px !important;
  }
}
