.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  &__logo {

    &-hog,
    &-gosha {
      width: 150px;
    }

    &-yarbeg,
    &-daleko {
      width: 200px;
    }

    &-sarmatian,
    &-nice-to-trip {
      width: 170px;
    }

    &-ded,
    &-noji,
    &-shulz,
    &-fatrat,
    &-neutrino {
      width: 300px;
    }
  }

  &__content {
    width: 100%;
    padding: 0 40px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat( 11, minmax(300px, 1fr) );
  }

  &__item {
    display: flex;
    flex-direction: column;

    p {
      font-size: 24px;
      text-align: center;
      line-height: 24px;
      color: $white-grey-3;
    }
  }

  &__image-wrapper {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    img {
      max-width: 100%;
      object-fit: fill;
    }
  }

  &__links {
    position: absolute;
    top: 600px;
    left: 37%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    font-size: 24px;

    span {
      margin: 0 4px;
    }
  }

  @include ui-desktop-only {
    @media (min-width: $desktop) {
      &__links {
        left: 43%;
      }
    }
  }
}
