.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 100px auto 0 auto;

  &__header {
    display: flex;
    align-items: center;
  }

  &__btn-add {
    width: 50px;
    height: 50px;
    background: none;
    border: 1px solid $lightgrey;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 30px;
  }

  &__disclaimer {
    margin-top: 20px;
    width: 100%;
    background: $lightgrey;
    padding: 4px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      color: red;
      margin-right: 5px;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__labels {
    display: grid;
    color: $lightgrey100;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
    grid-gap: 20px;
  }

  &__form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
    grid-gap: 20px;
  }

  &__btn-delete {
    justify-self: end;
  }

  &__login-field {
    grid-column: span 2;
  }
}
