@include ui-mobile-only {
  .details {
    flex-direction: column;
    align-items: center;
    height: max-content;

    &__logo {
      img {
        width: 350px;
        margin-right: 0;
      }
    }

    &__links {
      margin-top: 50px;
    }

    &__divider {
      width: 100%;
      height: 7px;
      background: $white-grey;
      margin: 32px 0;
    }

    @media (max-width: $mobile-portrait) {
      &__logo {
        img {
          width: 300px;
        }
      }
    }

    @media (max-width: $mobile) {
      &__logo {
        img {
          width: 200px;
          margin-top: 20px;
        }
      }

      &__links {
        font-size: 12px;
        margin-top: 20px;

        button {
          font-size: 12px;
        }
      }
    }
  }
}
