@include ui-mobile-only {
  .select {
    @media (max-width: $mobile) {
      width: 308px;
      height: 47px;

      input {
        font-size: 22px;
        height: 47px;
      }

      &__item {
        font-size: 22px;
        padding: 2px 20px;
      }
    }
  }
}
