@include ui-mobile-only {
  .checkbox {
    @media (max-width: $mobile) {
      width: 50px;
      height: 23px;
      padding: 0 7px;

      &__circle {
        width: 14px;
        height: 14px;
      }

      &__circle-inner {
        width: 8px;
        height: 8px;
        transform: translate(0, 0.1px);
      }

      &-checked {
        transform: translateX(165%);
      }
    }
  }
}
