.heritage-item {
  padding: 80px;
  display: grid;
  grid-template-columns: max-content 1fr;
  font-size: 20px;
  font-family: 'BoxedBook', sans-serif;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
  }

  &__dates {
    width: 300px;
    font-size: 20px;
    margin-bottom: 40px;
    color: $white-grey;
  }

  &__way {
    color: $blue;
    cursor: pointer;
  }

  &__image {
    &-2021 {
      height: 400px;
    }

    &-2022,
    &-2023,
    &-2024 {
      width: 220px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    color: $white-grey;
  }

  &__links {
    grid-column: span 3;
    text-align: center;
    font-family: 'BoxedBook', sans-serif;
    font-size: 20px;

    &-2021 {
      margin-top: 147px;
    }

    &-2022 {
      margin-top: 221px;
    }

    &-2023 {
      margin-top: 216px;
    }

    &-2024 {
      margin-top: 320px;
    }

    span {
      margin: 0 4px;
    }
  }
}
