@include ui-mobile-only {
  .heritage-item {
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      padding-bottom: 0;
      height: 100vh;
      overflow: hidden;

      &__dates {
        font-size: 12px;
        width: max-content;
      }

      &__content {
        height: calc(80% - 124px);
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        p {
          font-size: 12px;
        }
      }

      &__list {
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }

      &__image {
        &-2021,
        &-2022,
        &-2023,
        &-2024 {
          display: none;
        }
      }

      &__links {
        font-size: 12px;
        margin: auto auto 65px auto;
      }
    }
  }
}
