.input,
.input-password {
  border: 2px solid $lightgrey;
  font-size: 16px;
  padding: 0 8px;
  height: 40px;
  outline: none;
  border-radius: 4px;
  box-shadow: none;
}

.input-password {
  position: relative;

  input {
    width: 90%;
    height: 100%;
    border: none;
    font-size: 16px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  img {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
}
