.sound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 30px 0;

  &__content {
    display: flex;
    width: 100%;
    padding: 0 40px;
    align-items: center;
  }

  &__item {
    margin-right: 50px;
    width: 400px;

    p {
      text-align: center;
      margin-top: 40px;
    }
  }

  &__image-wrapper {
    height: 200px;
    display: flex;
    align-items: center;
  }

  &__image {
    &-dragon-blood {
      width: 300px;
    }

    &-sleepwalker {
      width: 400px;
    }

    &-amanita {
      width: 300px;
    }

    &-rat {
      width: 300px;
    }
  }

  &__links {
    margin-top: 100px;
    display: flex;
    align-items: center;
    font-size: 24px;

    span {
      margin: 0 4px;
    }
  }

  @include ui-desktop-only {
    @media (min-width: $desktop) {
      &__content {
        justify-content: center;
      }
    }
  }
}
