@include ui-mobile-only {
  .sound {
    @media (max-width: $mobile) {
      padding: 35px 0 0 0;
      overflow: hidden;
      height: 100vh;

      &__image-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding-bottom: 0;
      }

      &__swiper {
        height: 80%;
        padding: 0;
      }

      &__image {
        &-dragon-blood {
          width: 191px;
          height: 142px;
        }

        &-sleepwalker {
          width: 248px;
          height: 114px;
        }

        &-amanita {
          width: 234px;
          height: 175px;
        }

        &-rat {
          width: 175px;
          height: 170px;
        }
      }

      &__item {
        align-items: center;

        p {
          width: 250px;
          font-size: 12px;
          line-height: 13px;
          margin-top: 20px;
        }
      }

      &__narrow {
        width: 250px !important;
      }

      &__links {
        font-size: 12px;
        margin-top: auto;
        margin-bottom: 65px;
      }

      .swiper-wrapper {
        align-items: flex-start;
      }

      .swiper-slide {
        height: max-content !important;
      }
    }
  }
}
