@include ui-mobile-only {
  .agreement {
    @media (max-width: $mobile) {
      align-items: flex-start;

      &__items {
        margin-top: 25px;
        width: 100%;
      }

      &__item {
        p {
          font-size: 22px;
          width: 236px;
        }
      }

      &__checkbox {
        align-self: flex-end;
      }

      &__links {
        margin-top: 80px;
        font-size: 12px;

        button {
          font-size: 12px;
        }
      }
    }
  }
}
