.sidebar {
  max-width: 300px;
  height: 100svh;
  background: $white;
  display: flex;
  flex-direction: column;
  box-shadow:
          rgba(14, 30, 37, 0.12) 0 0 4px 0,
          rgba(14, 30, 37, 0.32) 0 0 16px 0;

  &__error {
    padding: 16px;
    text-align: center;
    font-size: 14px;
    color: $error;
  }

  &__header {
    background: $lightblue;
    padding: 16px;
  }

  &__search {
    margin-top: 20px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
  }
}