.sidebar {
  width: 100%;
  height: 100svh;
  background: $white;
  overflow: hidden;
  box-shadow:
          rgba(14, 30, 37, 0.12) 0 0 4px 0,
          rgba(14, 30, 37, 0.32) 0 0 16px 0;

  &__btn-fold {
    display: none;
    position: fixed;
    top: 20px;
    left: calc($sidebar-width - 4px);
    background: $lightblue;
    width: 24px;
    height: 50px;
    cursor: pointer;
    z-index: 996;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:
            rgba(14, 30, 37, 0.12) 0 0 4px 0,
            rgba(14, 30, 37, 0.32) 0 0 16px 0;
    clip-path: inset(-10px -10px -10px 0);

    img {
      color: red;
    }

    &--folded {
      left: $sidebar-fold-width - 1px;
    }

  }

  &--folded {
    width: $sidebar-fold-width;
  }

  &__content {
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 999;
    flex-direction: column;
  }

  &__fold {
    display: none;
    background: $white;
    width: 100%;
    height: 100svh;
    z-index: 999;
    overflow: hidden;
  }

  &__error {
    padding: 16px;
    text-align: center;
    font-size: 14px;
    color: $error;
  }

  &__header {
    background: $lightblue;
    padding: 16px;
  }

  &__search {
    margin-top: 20px;
  }

  &__footer {
    padding: 16px;
  }

  &__footer-user-info {
    height: max-content;
    display: none;
    margin-bottom: 16px;

    &--active {
      display: block;
    }
  }

  &__btn-footer {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 601px) {
    width: calc($sidebar-width - 100px);

    &__btn-fold {
      display: block;
      left: calc($sidebar-width - 104px);

      &--folded {
        left: $sidebar-fold-width;
      }
    }

    &__fold {
      display: block;
    }


    &__footer-user-info {
      display: none;
    }
  }

  @media (min-width: 700px) {
    width: $sidebar-width;

    &__btn-fold {
      left: calc($sidebar-width - 4px);

      &--folded {
        left: $sidebar-fold-width;
      }
    }

    &--folded {
      width: $sidebar-fold-width;
    }
  }
}