.registration {
  padding: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__form {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 170px;
    grid-template-rows: max-content;
  }

  &__field {
    display: flex;
    height: 130px;
    flex-direction: column;

    input {
      width: 460px;
      height: 55px;
    }

    .form {
      &__error {
        text-align: center;
        margin-top: 15px;
      }
    }

  }

  &__email {
    pointer-events: none;
    width: 460px;
    height: 55px;
  }

  &__error {
    color: $red;
    margin-top: 15px;
    font-family: 'DecimaNova', sans-serif;
    text-transform: lowercase;
    text-align: center;
  }

  &__text,
  &__links,
  &__rombus {
    grid-column: span 2;
    justify-content: center;
  }

  &__text {
    text-align: center;
    font-size: 15px;
    font-family: 'DecimaNova', sans-serif;
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 111px;
    font-family: 'BoxedBook', sans-serif;

    span {
      margin: 0 4px;
    }

    button {
      font-size: 20px;
      font-family: 'BoxedBook', sans-serif;
    }
  }

  &__loader {
    font-size: 20px;
    width: 4em;
    height: 1em;
    position: fixed;
    top: 60%;
    left: 41%;
  }

  &__dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: $white;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &-1,
    &-2 {
      left: 0;
    }

    &-1 {
      animation-name: reveal;
    }

    &-2,
    &-3 {
      animation-name: slide;
    }

    &-3 {
      left: 1.5em;
    }

    &-4 {
      left: 3em;
      animation-name: reveal;
      animation-direction: reverse;
    }
  }

  &__blur {
    display: none;
  }
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em)
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
