.registration {
  padding: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 170px;
    grid-template-rows: 110px 110px 110px 130px;
  }

  &__field {
    display: flex;
    height: 100px;
    flex-direction: column;

    input {
      width: 460px;
      height: 55px;
    }

    .form {
      &__error {
        text-align: center;
        margin-top: 15px;
      }
    }

  }

  &__email {
    pointer-events: none;
    width: 460px;
    height: 55px;
  }

  &__error {
    color: $red;
    margin-top: 15px;
    font-family: 'DecimaNova', sans-serif;
    text-transform: lowercase;
    text-align: center;
  }

  &__text,
  &__links,
  &__rombus {
    grid-column: span 2;
    justify-content: center;
  }

  &__text {
    text-align: center;
    font-size: 12px;
    font-family: 'DecimaNova', sans-serif;
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 47px;
    font-family: 'BoxedBook', sans-serif;

    span {
      margin: 0 4px;
    }

    button {
      font-size: 20px;
      font-family: 'BoxedBook', sans-serif;
    }
  }

  &__loader {
    height: 100px;
    justify-self: center;
    grid-column: span 2;
    animation: rotating 3s linear infinite;
  }

  &__finished {
    text-align: center;
    font-size: 40px;
    grid-column: span 2;
    color: $red;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
