@include ui-mobile-only {
  .registration {
    @media (max-width: $mobile) {
      padding: 20px 32px 32px 32px;

      &__agreement {
        width: 100%;
      }

      &__form {
        grid-template-columns: min-content;
        grid-column-gap: 0;
        margin-top: 15px;

        input {
          font-size: 22px;
          width: 308px;
          height: 47px;
        }
      }

      &__field {
        height: 111px;

        &:nth-child(3) {
          grid-row: 2;
        }

        &:nth-child(5) {
          grid-row: 3;
        }

        &:nth-child(7) {
          grid-row: 4;
        }

        &:nth-child(8) {
          height: 100px;
        }
      }

      &__text,
      &__links,
      &__rombus,
      &__loader {
        grid-column: span 1;
      }

      &__error {
        font-size: 8px;
      }

      &__email {
        margin-bottom: 54px;
      }

      &__text {
        font-size: 8px;

        br {
          display: none;
        }
      }

      &__links {
        font-size: 12px;
        margin-top: 45px;

        button {
          font-size: 12px;
        }
      }
    }
  }
}
