.registration-number {
  padding: 140px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2 {
    text-align: center;
    font-weight: normal;
    font-family: 'ST', sans-serif;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    margin-top: 60px;
    font-size: 34px;
  }

  &__number {
    margin-top: 10px;
    width: 430px;
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250px;
    font-family: 'Stig', sans-serif;
    //background-image: url('@/assets/images/registration-number/number-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //box-shadow: rgba(0, 0, 0, 0.25) 00 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 00 -3px 5px;

    span {
      transform: translateY(10px);
      color: $white-grey-2;
    }
  }

  &__email {
    margin-top: 50px;
    font-size: 15px;
    color: $white-grey;
    font-family: 'DecimaNova', sans-serif;
    text-align: center;
  }

  &__spacer {
    height: 19px;
    width: 100px;
  }

  &__links {
    font-size: 20px;
    margin-top: 81px;
    font-family: 'BoxedBook', sans-serif;
    display: flex;

    a, p {
      color: $white-grey;
      font-family: 'BoxedBook', sans-serif;
    }

    span {
      margin: 0 4px;
    }
  }
}
