@include ui-mobile-only {
  .registration-number {
    @media (max-width: $mobile) {
      padding: 35px 0 0 0;
      overflow: hidden;

      h1 {
        font-size: 25px;
      }

      &__number {
        font-size: 180px;
        height: 140px;
      }

      &__email {
        font-size: 8px;
        margin-top: 64px;
      }

      &__links {
        font-size: 12px;
        margin-top: 45px;
      }
    }
  }
}
