@include ui-mobile-only {
  .home {
    flex-direction: column;
    justify-content: flex-start;

    &__content {
      margin-top: 40px;
    }

    &__logo {
      max-width: 400px;
      margin: 40px 0;
    }

    &__link {
      font-size: 20px;

      p {
        font-size: 16px;
      }
    }

    @media (max-width: $mobile-portrait - 1px) {
      &__poster {
        width: 250px;
      }
    }

    @media (max-width: $mobile) {
      align-items: center;

      &__content {
        padding-bottom: 40px;
      }

      &__poster {
        width: 259px;
        height: 361px;
      }

      &__bottom {
        margin-left: 0;
      }

      &__top,
      &__bottom {
        grid-gap: 20px;
        justify-content: center;
      }

      &__logo {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      &__link {
        font-size: 22px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}
