@include ui-desktop-only {
  .container {
    padding: 40px 0;

    @media (min-width: $fullhd) {
      padding: 105px 0 0 0;
    }
  }

  .home {
    @media (min-width: $laptop) {
      &__content {
        width: 80%;
        margin: 0 40px;
      }

      &__link {
        font-size: 50px;
        line-height: 32px;
      }

      &__poster {
        height: 400px;
        width: 300px;
      }

      &__logo {
        width: 600px;
        margin-right: 300px;
      }
    }

    @media (min-width: $desktop) {
      &__content {
        height: 90%;
        margin-top: 30px;
        margin-right: 0;
        margin-left: 4.5%;
      }

      &__top {
        margin-top: 20px;
      }

      &__bottom {
        margin-left: 125px;
        margin-bottom: 38px;
      }

      &__link {
        font-size: 3rem;
      }

      &__poster {
        width: 590px;
        height: 800px;
      }

      &__logo {
        width: 80%;
        align-self: center;
        margin: 42px 0 64px 0;
      }
    }

    @media (min-width: $fullhd) {
      &__content {
        height: 85%;
        width: max-content;
      }

      &__top,
      &__bottom {
        grid-gap: 50px;
      }

      &__bottom {
        margin-bottom: 50px;
      }

      &__link {
        font-size: 5rem;
      }

      &__poster {
        width: 520px;
        height: 727px;
      }

      &__link {
        font-size: 60px;
      }

      &__logo {
        width: 60%;
        align-self: flex-start;
        margin-left: 80px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
