@include ui-desktop-only {
  .home {
    @media (min-width: $laptop) {
      .container {
        padding: 40px 0;
      }

      &__content {
        width: 80%;
        margin: 0 40px;
      }

      &__link {
        font-size: 50px;
        line-height: 32px;
      }

      &__poster {
        width: 470px;
      }

      &__logo {
        width: 800px;
        margin: 80px 0;
      }
    }
  }
}
