.container {
  padding: 40px 0;
  height: 100vh;
}

.home {
  display: flex;

  &__poster {
    width: 300px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }

  &__top,
  &__bottom {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
  }

  &__bottom {
    margin-left: 105px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'ST', sans-serif;

    p {
      font-size: 20px;
    }
  }

  &__logo {
    width: 80%;
    margin: 64px 0;
  }
}
