@include ui-mobile-only {
  .login {
    flex-direction: column;
    align-items: center;

    @media (max-width: $mobile) {
      &__form {
        flex-direction: column;
        align-items: center;
      }

      input {
        font-size: 22px;
        width: 308px;
        height: 47px;
      }

      &__button {
        font-size: 12px;
        margin-top: 0;
      }
    }
  }
}
